
body {
   padding: 20px;
   font-family: "Arial";
}

ul {
   margin: 0;
}

.folders li span:hover {
   cursor: pointer;
}

.folders {
   list-style-type: circle;
}

.files {
   list-style-type: square;   
}

